@model ad_course_ecom_daham.Models.Product.Computer;
@{
    ViewData["Title"] = "Manage Computers";
}
<div class="d-flex flex-row p-2 mb-3">
    <a asp-controller="AdminDashboard" asp-action="OpenManageCategories">
        <button type="button" class="btn btn-primary m-2">Manage Categories</button>
    </a>
    <a asp-controller="AdminDashboard" asp-action="OpenManageSeries">
        <button type="button" class="btn btn-primary m-2">Manage Computer Series</button>
    </a>
    <a asp-controller="AdminDashboard" asp-action="OpenAddComputer">
        <button type="button" class="btn btn-success m-2">Add a computer</button>
    </a>
</div>

@if (@ViewBag.isManageCategories == true)
{
    <h4>Categories List</h4>
    @foreach (var item in @ViewBag.categories)
    {
        <div class="text-sm-lef mb-1 mt-1">
            Category name: @item.cateName
        </div>  
        <div class="text-sm-lef mb-1 mt-1">
            Category id: @item.cateId
        </div>
        <div class="dropdown-divider w-50"></div>
    }
    <div class="mt-5 w-25">
        <h4>Add a new category</h4>
        <form method="post" asp-controller="AdminDashboard" asp-action="AddCategory">
            <div class="form-group">
                <label for="exampleInputEmail1">Category Name</label>
                <input type="text" class="form-control" name="categoryName" id="categoryName" aria-describedby="emailHelp" placeholder="Enter category name">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Add</button>
        </form>
    </div>
}


@if (@ViewBag.isManageSeries == true)
{
    <h4>Computer Series List</h4>
    @foreach (var item in @ViewBag.series)
    {
        <div class="text-sm-lef mb-1 mt-1">
            Series name: @item.seriesName
        </div>
        <div class="text-sm-lef mb-1 mt-1">
            Category Id: @item.cateId
        </div>
        <div class="text-sm-lef mb-1 mt-1">
            Category Name: @item.categoryName
        </div>
        <div class="dropdown-divider w-50 mb-1"></div>
    }
    <div class="mt-5 w-25">
        <h4>Add a new series</h4>
        <form method="post" asp-controller="AdminDashboard" asp-action="AddSeries">
            <div class="form-group">
                <label for="exampleInputEmail1">Series Name</label>
                <input type="text" class="form-control" name="seriesName" id="seriesName" aria-describedby="emailHelp" placeholder="Enter series name">
            </div>
            <div class="mb-1">
                <label>Select category type</label>
                <select name="categoryName" class="form-control form-control-sm">
                    @foreach (var type in @ViewBag.categories)
                    {
                        <option>@type.cateName</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Add</button>
        </form>
    </div>
}


@if (@ViewBag.isAddComputer == true)
{
    <div class="mt-1 w-25">
        <h4>Add a computer</h4>
        <form method="post" asp-controller="AdminDashboard" asp-action="AddComputer">
            <div class="form-group">
                <label for="exampleInputEmail1">Computer Name</label>
                @if (@ViewBag.isVariationMode == false)
                {
                    <input type="text" class="form-control" name="cName" id="cName" asp-for="cName" aria-describedby="emailHelp" placeholder="Enter computer name">
                }
                @if (@ViewBag.isVariationMode == true)
                {
                    <input type="text" class="form-control" name="cName" id="cName" asp-for="cName" value="@ViewBag.computer.cName" aria-describedby="emailHelp" placeholder="Enter computer name">
                }
            </div>
            <div class="mb-1">
                <label>Select category type</label>
                <select name="cateName" class="form-control form-control-sm" asp-for="cateName">
                    @foreach (var type in @ViewBag.categories)
                    {
                        <option>@type.cateName</option>
                    }
                </select>
            </div>
            <div class="mb-1">
                <label>Select series type</label>
                <select name="seriesName" class="form-control form-control-sm" asp-for="seriesName">
                    @foreach (var type in @ViewBag.series)
                    {
                        <option>@type.seriesName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Computer Genaral Price</label>
                @if (@ViewBag.isVariationMode == false)
                {
                    <input type="number" class="form-control" name="normalPrice" id="normalPrice" asp-for="normalPrice" aria-describedby="emailHelp" placeholder="Enter computer price">
                }
                @if (@ViewBag.isVariationMode == true)
                {
                    <input type="number" class="form-control" name="normalPrice" id="normalPrice" value="@ViewBag.computer.normalPrice" asp-for="normalPrice" aria-describedby="emailHelp" placeholder="Enter computer price">
                }
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Computer Quantity</label>
                @if (@ViewBag.isVariationMode == false)
                {
                <input type="number" class="form-control" name="qty" id="qty" asp-for="qty" aria-describedby="emailHelp" placeholder="Enter qty">
                }
                @if (@ViewBag.isVariationMode == true)
                {
                    <input type="number" class="form-control" name="qty" id="qty" asp-for="qty" value="@ViewBag.computer.qty" aria-describedby="emailHelp" placeholder="Enter qty">
                }
            </div>
            <div class="dropdown-divider w-50 mb-1"></div>
            @if (@ViewBag.isVariationMode == false)
            {
                <button type="submit" class="btn btn-primary mt-2">Add</button>
            }
            <h6 class="text-success mb-2 mt-1">@ViewBag.computerStatus</h6>
        </form>

        <form method="post" asp-controller="AdminDashboard" asp-action="AddVariation">
            <h2>@ViewBag.variation</h2>
            <div class="mb-1 mt-2">
                <h5>Variation List</h5>
                @foreach (var item in @ViewBag.variationList)
                {
                    <div class="text-sm-lef mb-1 mt-1">
                        Variation name: @item.comvName  
                        <div class="dropdown-divider w-50 mb-1"></div>
                    </div>
                }
            </div>
            <input type="text" class="form-control" name="variationName" id="variationName" aria-describedby="emailHelp" placeholder="Enter Variation">
            <button type="submit" class="btn btn-success mt-2 mb-2">Add a variation</button>
        </form>
    </div>
}


@if (@ViewBag.viewProduct == true)
{
    <h5>Computers List</h5>
        <p>All prices are in LKR (Sri Lankan Ruppes)</p>
        <div class="container mt-3">
            <div class="row">
                @foreach (var item in @ViewBag.computerList)
                {
                    <div class="col">
                        <div class="card mb-3" style="width: 18rem;">
                            <img class="card-img-top" src="https://cdn.ttgtmedia.com/rms/onlineimages/hp_elitebook_mobile.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 name="cName" class="card-title">@item.cName</h5>
                                <p class="card-text">Computer ID: @item.comId</p>
                                <p class="card-text">Computer Type: @item.cateName</p>
                                <p class="card-text">Series: @item.seriesName</p>
                                <p class="card-text">Starting Price (LKR): @item.normalPrice</p>
                                <p class="card-text">Available Qty: @item.qty</p>
                                <form method="post" asp-controller="AdminDashboard" asp-action="EditComputer">
                                    <input type="text" style="display: none" class="form-control" name="comId" value="@item.comId" asp-for="comId" aria-describedby="emailHelp" placeholder="Enter computer name">
                                    <button type="submit" class="btn btn-primary">Edit Details</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
}
